@using MCLYGV3.DB
@model M_AdminUser
@{
    Layout = "~/Views/Shared/_BodyLayout.cshtml";
}


<div class="mvctool">
	<input id="txtQuery" type="text" class="searchText" placeholder="按订单号查找"/>
    <input id="txtQueryPolicy" type="text" class="searchText" placeholder="按保单号查找" />
	<a id="btnQuery" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text fa fa-search" style="font-size:14px"></span><span style="font-size:12px">查询</span></span></a><div class="datagrid-btn-separator"></div>

	<a id="btnCreate" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text fa fa-plus" style="font-size:14px"></span><span style="font-size:12px">创建</span></span></a><div class="datagrid-btn-separator"></div>
	<a id="btnDetails" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text fa fa-list" style="font-size:14px"></span><span style="font-size:12px">详细</span></span></a><div class="datagrid-btn-separator"></div>
	<a id="btnEdit" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text fa fa-pencil" style="font-size:14px"></span><span style="font-size:12px">修改</span></span></a><div class="datagrid-btn-separator"></div>
	<a id="btnDelete" style="float: left;" class="l-btn l-btn-plain"><span class="l-btn-left"><span class="l-btn-text fa fa-trash" style="font-size:14px"></span><span style="font-size:12px">删除</span></span></a><div class="datagrid-btn-separator"></div>
</div>
<table id="List"></table>
<div id="Pager"></div>
<div id="modalwindow" class="easyui-window" data-options="modal:true,closed:true,minimizable:false,shadow:false"></div>
@*Jqgrid*@
<script type="text/javascript">
	//ifram 返回
	function frameReturnByClose() {
		$("#modalwindow").window('close');
	}
	function frameReturnByReload(flag) {
		if (flag)
			$("#List").datagrid('load');
		else
			$("#List").datagrid('reload');
	}
	function frameReturnByMes(mes) {
		$.messageBox5s('提示', mes);
	}

	$(function () {
		$('#List').datagrid({
			url: '/Administrator/GetOrderList',
			width: SetGridWidthSub(10),
			methord: 'POST',
			height: SetGridHeightSub(45),
			fitColumns: true,
			sortName: 'OrderCode',
			sortOrder: 'desc',
			idField: 'OrderCode',
			pageSize: 15,
			pageList: [15, 20, 30, 40, 50],
			pagination: true,
			striped: false, //奇偶行是否区分
			singleSelect: true,//单选模式
			columns: [[
				{ field: 'OrderCode', title: '订单编号', sortable: true },
				{ field: 'UserId', title: '用户姓名', sortable: true ,formatter:function(value){return GetUserName(value)}},
				{ field: 'OrderStep', title: '订单状态', sortable: true ,formatter:function(value){return value=="0"?"未支付":value=="1"?"已支付":"已过期"}},
				{ field: 'InsuredName', title: '投保人公司名', sortable: true },
				{ field: 'FirstModalPremium', title: '初次总保费', sortable: true },
				{ field: 'FirstdutyAount', title: '初次总保额', sortable: true },
				{ field: 'NowModalPremium', title: '当前总保费', sortable: true },
				{ field: 'NowdutyAount', title: '当前总保额', sortable: true },
				{ field: 'InsuranceCompany', title: '保险公司', sortable: true ,formatter:function(value){return value=="PA"?"平安":"诚泰"}},
				{ field: 'StartTime', title: '保险生效时间', sortable: true },
				{ field: 'EndTime', title: '保险失效时间', sortable: true },
				{ field: 'BuyTime', title: '保险提交时间', sortable: true },
				{ field: 'PayTime', title: '付款返回时间', sortable: true },
				{ field: 'applyMonth', title: '投保月份', sortable: true },
				{ field: 'PolicyNo', title: '保单号', sortable: true },
				{ field: 'PlanList', title: '投保计划', sortable: true ,
				    formatter:function(value, row, index){
				        return "<a href='#' onClick='ShowPlanList(\""+row.OrderCode+"\")'>查看投保计划</a>";
				    }},
				{ field: 'ChildList', title: '子订单列表', sortable: true ,
				formatter:function(value, row, index)
				{
				    return "<a href='#' onclick='ShowChildList(\""+row.OrderCode+"\")' >查看子订单列表</a>";
				}},
			]]
		});
	});
	
</script>
@Html.Partial("~/Views/Shared/_Partial_AutoGrid.cshtml")
@*operation*@
<script type="text/javascript">
	
    function ShowPlanList(MyOrderCode){
        var url="/Administrator/OrderPlan_List?OrderCode="+MyOrderCode;
        var icon="";
        parent.addTab(MyOrderCode+"投保计划",url,icon);
    }
    function ShowChildList(MyOrderCode)
    {
        
        var url="/Administrator/OrderChild_List?OrderCode="+MyOrderCode;
        var icon = "fa  fa-reorder";

        parent.addTab(MyOrderCode+"子订单列表", url, icon);

        
    }
    


    var AdminUserId=@Model.ID;
    var NameList=new Array();
    function GetUserName(value){
        if(NameList[value]!=null){
            return NameList[value];
        }
        else{
            return GetUserNameByServer(value);
        }
    }
    function GetUserNameByServer(value){
        var result="";
        $.ajax({
            type: "POST",
            url: "/Administrator/GetUserNameByUserId/" + value,
            async: false,
            success: function (data)
            {
                //alert("Server:" + areaid + "->" + data);
                if (data != "")
                    NameList[value] = data;
                result = data;
            }
        });
        return result;
    }
	
	function IsTrueOrFalse(value) {
		if (value) {
			return "<span class='label label-success'>是</span>";
		} else {
			return "<span class='label label-error'>否</span>";
		}
	}
	function IsTrueOrFalse2(value) {
		if (value) {
			return "<span class='color-green fa fa-circle'></span>";
		} else {
			return "<span class='color-gray fa fa-circle-o'></span>";
		}
	}
	$(function () {
		
		$("#btnQuery").click(function () {
		    var queryStr = $("#txtQuery").val();
		    var policyQuery=$("#txtQueryPolicy").val();
		    if(policyQuery==null){
		        policyQuery="";
		    }
			//如果查询条件为空默认查询全部
			if (queryStr == null) {
				queryStr = "";
			}
			$('#List').datagrid({ url: '/Administrator/GetOrderList?queryStr=' + encodeURI(queryStr) +'&policy='+encodeURI(policyQuery)});
		});

		$("#btnCreate").click(function () 
		{
			$.post("/api/System/CheckUserPermissions?AdminUserId=" + AdminUserId + "&PermissionOperationId=M5_Add", function (data) 
			{
				if (data.type == 0)
				{
					$("#modalwindow").html("<iframe width='100%' height='100%' frameborder='0'' src='/Administrator/Order_Add'></iframe>");
					$("#modalwindow").window({ title: '创建', width: 500, height: 450, iconCls: 'fa fa-plus' }).window('open');
				}
				else
				{
					$.messageBox5s('提示', data.message);
				}
			}, "json");
		});


		$("#btnDetails").click(function () 
		{
			$.post("/api/System/CheckUserPermissions?AdminUserId=" + AdminUserId + "&PermissionOperationId=M5_Details", function (data) 
			{
				if (data.type == 0)
				{
					
					
					var rows = $('#List').datagrid('getSelections');
					if (rows.length > 1) {
						$.messageBox5s('提示', '只能选择一个进行查看');
						return;
					}
					if (rows.length == 0) {
						$.messageBox5s('提示', '请选择一个进行查看');
						return;
					}
					$("#modalwindow").html("<iframe width='100%' height='100%' frameborder='0' src='/Administrator/Order_Detail?OrderCode=" + rows[0].OrderCode + "'></iframe>");
					$("#modalwindow").window({ title: '详细', width: 500, height: 450, iconCls: 'fa fa-list' }).window('open');
				}
				else
				{
					$.messageBox5s('提示', data.message);
				}
			}, "json");
		});
		

		$("#btnEdit").click(function () 
		{
			$.post("/api/System/CheckUserPermissions?AdminUserId=" + AdminUserId + "&PermissionOperationId=M5_Edit", function (data) 
			{
				if (data.type == 0)
				{
					var rows = $('#List').datagrid('getSelections');
					if (rows.length > 1) {
						$.messageBox5s('提示', '只能选择一个进行编辑');
						return;
					}
					if (rows.length == 0) {
						$.messageBox5s('提示', '请选择一个进行编辑');
						return;
					}
					$("#modalwindow").html("<iframe width='100%' height='100%' frameborder='0' src='/Administrator/Order_Edit?id=" + rows[0].OrderCode + "'></iframe>");
					$("#modalwindow").window({ title: '编辑', width: 500, height: 450, iconCls: 'fa fa-list' }).window('open');
				}
				else
				{
					$.messageBox5s('提示', data.message);
				}
			}, "json");
		});

		
		$("#btnDelete").click(function () 
		{
			$.post("/api/System/CheckUserPermissions?AdminUserId=" + AdminUserId + "&PermissionOperationId=M5_Del", function (data) 
			{
				if (data.type == 0)
				{
					var ids = [];
					var rows = $('#List').datagrid('getSelections');
					for (var i = 0; i < rows.length; i++) {
						ids.push(rows[i].OrderCode);
					}
					var idsStr = ids.join(',');
					if (rows.length > 0) {
						$.messager.confirm('提示', '你要删除所选择的记录吗?', function (r) {
							if (r) {
								$.post("/Administrator/DelOrder?id=" + idsStr, function (data) {
									if (data.type == 0)
										$("#List").datagrid('reload');
									$('#List').datagrid('clearSelections');
									$.messageBox5s('提示', data.message);
								}, "json");
							}
						});
					}
					else {
						$.messageBox5s('提示', '请选择要操作的记录');
					}
				}
				else
				{
					$.messageBox5s('提示', data.message);
				}
			}, "json");
		});
		$("#btnDownLoad").click(function()
		{
		  
		    $.post("/api/System/CheckUserPermissions?AdminUserId=" + AdminUserId + "&PermissionOperationId=M5_Del", function (data) 
		    {
		        if(data.type==0){
		            //$.post("/Administrator/ExcelDownLoad?startTime="+$("#startTime").val()+"&endTime="+$("#endTime").val()+"&company="+$("#companySelect").val(),function(){
		            window.location.href="/Administrator/ExcelDownLoad?startTime="+$("#startTime").val()+"&endTime="+$("#endTime").val()+"&company="+$("#companySelect").val()+"&userid="+$("#UserDropDownList").val();
		            //});
		        }
		    },"json");
		});
	});
</script>
